.App {
    width: 100%;
    box-sizing: border-box;
}

.App-header {
    padding: 5px 0;
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin: 0;
}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

.brand img {
    width: 30px;
}

.navs {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav {
    text-decoration: none;
    color: white;
    opacity: .3;
    font-weight: 600;
}

.nav:hover {
    opacity: 1;
    transition: all .3s ease-in;
}

.account {
    position: relative;
    padding: 5px 10px;
}

.account>img {
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.account>i {
    position: absolute;
    height: 20px;
    object-fit: cover;
    right: 5px;
    bottom: 10px;
}

.index {
    margin: 100px auto;
    max-width: 900px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.index>img {
    width: 500px;
}

.index-text>p {
    max-width: 450px;
    line-height: 1.8rem;
}

.index-text>h4 {
    margin: 0;
    padding: 0;
}

.Project {
    text-align: left;
    padding: 10px 60px;
}

.Project>h2 {
    padding: 0;
    width: fit-content;
}

.Category {
    padding: 0;
}

.Tasks {
    padding: 0 50px;
    max-width: 1024px;
}

.Tasks>h2 {
    padding: 5px 0;
    font-weight: 500;
    position: sticky;
    top: 0;
}

.Task {
    text-align: center;
    padding: 0 10px;
    border-radius: 5px;
    display: grid;
    grid-template-areas: "task-title task-title img task-status timeline";
    background-color: #15b0ab;
}

.task-title {
    text-align: left;
    grid-area: task-title;
    background-color: rgb(207, 206, 206);
    margin: 0;
    height: 100%;
}

.img {
    grid-area: img;
    background-color: rgb(207, 206, 206);
    margin: 0 5px;
    height: 100%;
}

.img>h4 {
    background-color: palevioletred;
    width: 30px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
}

.task-status {
    grid-area: task-status;
    background-color: rgb(207, 206, 206);
    margin: 0 5px 0 0;
    height: 100%;
}

.timeline {
    grid-area: timeline;
    background-color: rgb(207, 206, 206);
    margin: 0;
    height: 100%;
}

.timeline>p {
    background-color: steelblue;
    border-radius: 10px;
    margin: 20px auto;
}

@media (max-width:768px) {
    .index {
        flex-direction: column;
        gap: 50px;
    }
    .Tasks {
        flex-direction: column;
    }
}