.App {
    width: 100%;
    box-sizing: border-box;
}

.App-header {
    padding: 5px 0;
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin: 0;
}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

.brand img {
    width: 50px;
}

.navs {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav {
    text-decoration: none;
    color: white;
    opacity: .3;
    font-weight: 600;
}

.nav:hover {
    opacity: 1;
    transition: all .3s ease-in;
}

.account {
    position: relative;
    padding: 5px 10px;
}

.account>img {
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.account>i {
    position: absolute;
    height: 20px;
    object-fit: cover;
    right: 5px;
    bottom: 10px;
}

.index {
    margin: 150px auto;
    max-width: 900px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.index>img {
    width: 500px;
}

.index-text>p {
    max-width: 450px;
    line-height: 1.8rem;
}

.index-text>h4 {
    margin: 0;
    padding: 0;
}

.Project {
    text-align: left;
    padding: 10px 50px;
}

.Project>h2 {
    padding: 0;
    width: fit-content;
}

.Tasks {
    display: flex;
    margin: 0 auto;
    /* align-items: center; */
    justify-content: space-around;
    padding: 0 50px;
    max-height: 50vh;
    overflow: visible;
    overflow-y: auto;
    box-shadow: 0 2px 5px -2px #282c34;
}

.Task {
    padding: 0 20px;
    border-left: 2px saddlebrown solid;
    text-align: left;
}

.Category {
    padding: 0;
}

.Category>h2 {
    padding: 5px 0;
    margin: 10px 0;
    font-weight: 400;
    position: sticky;
    top: 0;
    background-color: #505153;
}

@media (max-width:768px) {
    .index {
        flex-direction: column;
        gap: 50px;
    }
    .Tasks {
        flex-direction: column;
    }
}