body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.renderHere {
    margin: 0;
    display: flex;
}

.signin,
.signup,
.Projects,
.TasksCreate {
    background-color: #282c34;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    color: white;
    height: 85vh;
}

.Projects,
.TasksCreate {
    background-color: white;
    color: #202227;
    position: relative;
}

.TasksCreate form,
.signin form,
.signup form,
.Projects form {
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: green;
    padding: 20px 50px;
    box-shadow: 1px 2px 5px 0px green;
    border-radius: 10px;
    visibility: hidden;
    position: absolute;
    left: 32%;
    top: 35%;
    z-index: 100;
}

.message-active {
    visibility: visible;
}

.TasksCreate input,
.signin input,
.signup input,
.Projects input,
textarea,
select {
    margin: 10px auto;
    display: block;
    padding: 10px;
    outline: none;
    border: 2px #202227 solid;
    background-color: #2e323a;
    color: white;
    border-radius: 5px;
    width: 250px;
}

select {
    width: 275px;
}

.Projects input,
.Projects textarea,
.TasksCreate input,
select {
    background-color: white;
    color: #202227;
    font-family: inherit;
}

.signin button,
.signup button,
.Projects button,
.TasksCreate button {
    text-align: center;
    margin: 10px auto;
    padding: 5px 50px;
    color: white;
    opacity: .5;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: #2e323a;
    border: 0;
    border-radius: 3px;
}

.signin button:hover,
.signup button:hover,
.Projects button:hover {
    background-color: #202227;
    transition: all .3s ease-in;
    opacity: .8;
    cursor: pointer;
}

.TasksContainer {
    display: flex;
    flex-wrap: wrap;
}

.TasksContainer a {
    text-decoration: none;
}

.TaskProject {
    background-color: #4d4d4e;
    padding: 10px 20px;
    margin: 10px;
    max-width: 200px;
    border-radius: 2px;
    color: white;
    position: relative;
}

.TaskProject h4 {
    margin: 0 10px;
    display: inline;
    color: white;
}

.TaskProject>small {
    display: inline-block;
}

.TaskProject>span {
    display: inline-block;
    margin: 10px;
}

.icon {
    position: absolute;
    right: 5px;
    top: 5px;
}

.icon:hover {
    cursor: pointer;
}

.ongoing>small {
    color: #15b0ab;
}

.unassigned>small {
    color: orange;
}

.pending>small {
    color: orangered;
}

.complete>small {
    color: rgb(8, 128, 60);
}

.viewStatus {
    position: absolute;
    right: -5px;
    top: 10px;
    background-color: #15b0ab;
    padding: 5px 10px;
    border-radius: 2px;
    visibility: hidden;
    box-shadow: 0 1px 2px 0 #15b0ab;
}

.error {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    font-size: .95rem;
}

.link {
    text-decoration: none;
    color: #15b0ab;
    margin: 20px;
}